body  {
   background-image: url(https://s-media-cache-ak0.pinimg.com/originals/a6/33/f5/a633f582fde481f2c0511189ee7e2968.jpg);
}

 h1 {
     text-align:center;
 }
 h1 {
     color:white;
 }
 
 h2{
     color:white;
 }
 
 h2 {
     text-align:center;
 }
 
 p1 {
     color:gold;
 }
 