body  {
   background-image: url(http://www.gpmedialabs.com/packers-wallpaper/2560x1600/green-bay-packers-wallpaper-g-logo.jpg);
}

 h1 {
     text-align:center;
 }
 h1 {
     color:white;
 }
 
 h2{
     color:white;
 }
 
 h2 {
     text-align:center;
 }
 
 p1 {
     color:white;
 }
 